.appointment-wrapper {
  padding: 0 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.2);
}

.input {
  margin: 10px;
  height: 24px;
}

.select {
  margin: 10px;
  height: 29px;
  line-height: 29px;
}

.delete-button {
  height: 29px;
  padding: 0 15px;
  cursor: pointer;
  background-color: rgba(200,0,0,0.2);
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}

.delete-button:hover {
  background-color: rgba(200,0,0,0.3);
}